<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/aboutus.css">
<link rel="stylesheet" href="../static/css/navbar.css">
<link rel="stylesheet" href="../static/css/footer.css">
<body>
    <header class="header">
        <div class="left">
            <img src="../static/images/logo.jpg" alt="logo">
        </div>
        <div class="mid">
            <ul class="navbar">
                <li><a href="/">HOME</a></li>
                <li><a href="/sell">SELL</a></li>
                <li><a href="/calculator">CALCULATOR</a></li>
                <li><a href="/aboutus">ABOUT US</a></li>
                <li><a href="/faq">FAQs</a></li>
                <li><a href="/contact">CONTACT US</a></li>
            </ul>
            <div class="dropdown">
                <button class="dropbtn">Main Menu</button>
                <div class="dropdown-content">
                    <a href="/">HOME</a>
                    <a href="sell.html">SELL</a>
                    <a href="/calculator">CALCULATOR</a>
                    <a href="/aboutus">ABOUT US</a>
                    <a href="/faq">FAQs</a>
                    <a href="/contact">CONTACT US</a>
                </div>
            </div>
        </div>
    </header>
    <h1 class="title">
        <p>Our Team</p>
    </h1>

    <div class="cont">

        <div class="item" id="items-1">
            <img src="../static/images/pfp.png" alt="" class="img">
            <div class="imgdesc" id="name">
                <p><b>Hadia Beg </b></p>
            </div>
            <div class="imgdesc" id="work">
                <p><b>Full-Stack Developer</b></p>
            </div>
            <div class="imgdesc" id="lang">
                <p><b>Deals with HTML, CSS</b>
                </p>
            </div>
            <div class="connect">
                <h3>Connect with Me</h3>
                <a href="https://www.facebook.com/hadia.beg.3/" target="_blank="> <i class="fa fa-facebook fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://twitter.com/hadiabeg2002" target="_blank"> <i class="fa fa-twitter fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://www.instagram.com/hadiabeg2002/" target="_blank"> <i class="fa fa-instagram fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://www.linkedin.com/in/hadia-beg-1671182b0/" target="_blank"> <i class="fa fa-linkedin fa-fw">&nbsp;&nbsp;</i></a>
            </div>
        </div>
        <div class="item" id="items-2">
            <img src="../static/images/87-512.webp" alt="" class="img">
            <div class="imgdesc" id="name">
                <p><b>Zaineb Zeb</b></p>
            </div>
            <div class="imgdesc" id="work">
                <p><b>Full-Stack Developer</b></p>
            </div>
            <div class="imgdesc" id="lang">
                <p><b>Deals with HTML, CSS</b>
                </p>
            </div>
            <div class="connect">
                <h3>Connect with Me</h3>
                <a href="https://www.facebook.com/ZainebZeb03" target="_blank"> <i class="fa fa-facebook fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://twitter.com/Qwerty134_5" target="_blank"> <i class="fa fa-twitter fa-fw">&nbsp;&nbsp;</i></a>
                <a href="https://www.instagram.com/accounts/login/two_factor?next=%2F" target="_blank"> <i class="fa fa-instagram fa-fw">&nbsp;&nbsp;</i></a>
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    <footer class="footer">
        <div class="foot1">
            <a href="/">Home</a> |
            <a href="/aboutus">About Us</a> |
            <a href="/faq">FAQ's</a> |
            <a href="/contact">Contact</a>
        </div>
    </footer>
</body>

</html>
