<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <header class="header">
        <div class="left">
            <img src="../static/images/logo.jpg" alt="logo">
        </div>
        <div class="mid">
            <ul class="navbar">
                <li><a href="/">HOME</a></li>
                <li><a href="/sell">SELL</a></li>
                <li><a href="/calculator">CALCULATOR</a></li>
                <li><a href="/aboutus">ABOUT US</a></li>
                <li><a href="/faq">FAQs</a></li>
                <li><a href="/contact">CONTACT US</a></li>
            </ul>
            <div class="dropdown">
                <button class="dropbtn">Main Menu</button>
                <div class="dropdown-content">
                    <a href="/">HOME</a>
                    <a href="sell.html">SELL</a>
                    <a href="/calculator">CALCULATOR</a>
                    <a href="/aboutus">ABOUT US</a>
                    <a href="/faq">FAQs</a>
                    <a href="/contact">CONTACT US</a>
                </div>
            </div>
        </div>
        <div class="right">
            <button class="btn"><a href="/signup">Register/Login</a></button>
        </div>
    </header>
    <div class="poster">
        <img src="../static/images/poster1.jpg" alt="">
    </div>
    <div class="title">
        Sell Your Electronic Scrap Now, And start earning from it.
    </div>
    <div class="cont">
        <div class="pro" id="pro1">
            <img src="../static/images/img1.png" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Laptop</a><br>
                    Product Brand:<a href="url">Lenovo</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro2">
            <img src="../static/images/img2.jpg" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Headphones</a><br>
                    Product Brand:<a href="url">Phillips</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro3">
            <img src="../static/images/img3.jpg" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Mobile</a><br>
                    Product Brand:<a href="url">Samsung</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro4">
            <img src="../static/images/ups-battery.jpg" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">UPS</a><br>
                    Product Brand:<a href="url">Others</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro5">
            <img src="../static/images/battery1.webp" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Battery</a><br>
                    Product Brand:<a href="url">APC</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro6">
            <img src="../static/images/frige.jpg" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Fridge</a><br>
                    Product Brand:<a href="url">L.G.</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro7">
            <img src="../static/images/fridge2.jfif" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Fridge</a><br>
                    Product Brand:<a href="url">Whirlpool</a>
                </h2>
                <a href="../static/images/productfull.html" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro8">
            <img src="../static/images/cable1.jfif" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Led Bulb</a><br>
                    Product Brand:<a href="url">Phillips</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro9">
            <img src="../static/images/cables2.jfif" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Cable wire</a><br>
                    Product Brand:<a href="url">Others</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro10">
            <img src="../static/images/tele1.jfif" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">RAM</a><br>
                    Product Brand:<a href="url">Others</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro11">
            <img src="../static/images/tele2.jfif" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">RAM</a><br>
                    Product Brand:<a href="url">Kingston</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro12">
            <img src="../static/images/lap2.jpg" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Laptop</a><br>
                    Product Brand:<a href="url">Dell</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro13">
            <img src="../static/images/mo1.jfif" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Mother-Board</a><br>
                    Product Brand:<a href="url">ASUS</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro14">
            <img src="../static/images/mo2.jfif" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Mother-Board</a><br>
                    Product Brand:<a href="url">AS Rock</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
        <div class="pro" id="pro15">
            <img src="../static/images/sw.jpg" alt="Product img" class="img">
            <div class="imgdesc" id="name">
                <h2>
                    <!-- Product type and product brand should be extracted from backend -->
                    <!-- The url should take the customers to respective laptop and lenovo section -->
                    Product Type:<a href="url">Smart watch</a><br>
                    Product Brand:<a href="url">Apple</a>
                </h2>
                <a href="/productfull" target="_blank">
                    <h4>click here for more info</h4>
                </a>
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    <footer class="footer">
        <div class="foot1">
            <a href="/">Home</a> |
            <a href="/aboutus">About Us</a> |
            <a href="/calculator">CALCULATOR</a>
            <a href="/faq">FAQ's</a> |
            <a href="/contact">Contact</a>
        </div>
    </footer>
</body>

</html>
